<ion-header >
  <ion-navbar color="primary" >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <button ion-button end (click)="closeModal()"> <ion-icon name="close"></ion-icon></button>
    <ion-title > Oxidaxion   </ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Acerca</h3>


</ion-content>
