.ios, .md {
  page-puentesUso {
    $colors: (
      primary: #488aff,
      secondary: #32db64,
      danger: #f53d3d,
      light: #f4f4f4,
      dark: #222
    );

    p {
      font-size: 0.8em;
      color: #d2d2d2;
    }

    .swiper-slide {
      display: block;
    }

    ion-label, .select-text {
      margin-left: 10px;
    }

    .no-background {
      background-color: transparent;
      border : none;
    }

    ion-input, ion-select, ion-textarea {
      background-color: #f2f2f2;
      padding: 5px 10px;
    }

    ion-input.ng-invalid, ion-input.ng-dirty {
      border: 1px solid red;
    }
    ion-input.ng-valid {
      border: 1px solid green;
    }
    ion-input.ng-pristine {
      border: 1px solid #f2f2f2;
    }

     .valid {
       border: 2px solid #12ea00;
     }


    .cc-selector input{
      margin:0;padding:0;
      -webkit-appearance:none;
      -moz-appearance:none;
      appearance:none;
    }
    .visa{background-image:url(http://i.imgur.com/lXzJ1eB.png);}
    .mastercard{background-image:url(http://i.imgur.com/SJbRQF7.png);}

    .cc-selector input:active +.drinkcard-cc{opacity: .9;}
    .cc-selector input:checked +.drinkcard-cc{
      -webkit-filter: none;
      -moz-filter: none;
      filter: none;
    }
    .drinkcard-cc{
      cursor:pointer;
      background-size:contain;
      background-repeat:no-repeat;
      display:inline-block;
      width:100px;height:70px;
      -webkit-transition: all 100ms ease-in;
      -moz-transition: all 100ms ease-in;
      transition: all 100ms ease-in;
      -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
      -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
      filter: brightness(1.8) grayscale(1) opacity(.7);
    }
    .drinkcard-cc:hover{
      -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
      -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
      filter: brightness(1.2) grayscale(.5) opacity(.9);
    }

    /* Extras */
    a:visited{color:#888}
    a{color:#444;text-decoration:none;}
    p{margin-bottom:.3em;}
  }
}
