<ion-content color="primary" padding>

  <ion-list no-lines>

    <h2>Datos Generales</h2>

    <form [formGroup]="informacionGeneral">


      <ion-item>
        <ion-label floating>Nombre del puente</ion-label>
        <ion-input formControlName="nombrePuente" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Numero de Ruta</ion-label>
        <ion-input formControlName="numeroRuta" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Clasificacion</ion-label>
        <ion-input formControlName="clasificacion" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Kilometro</ion-label>
        <ion-input formControlName="kilometro" type="number"></ion-input>
      </ion-item>
      <h1>Localidad</h1>
      <ion-item>
        <ion-label floating>Provincia</ion-label>
        <ion-input formControlName="localizacionProvincia" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Canton</ion-label>
        <ion-input formControlName="localizacionCanton" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Distrito</ion-label>
        <ion-input formControlName="localizacionDistrito" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Administrado Por</ion-label>
        <ion-input formControlName="administradoPor" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Latitud Norte</ion-label>
        <ion-input formControlName="latitudNorte" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Latitud Oeste</ion-label>
        <ion-input formControlName="latitudOeste" type="number"></ion-input>
      </ion-item>
    </form>

    <h2>Informacion Control y Mantenimiento</h2>
    <form [formGroup]="informacionControlMantenimiento">
      <ion-item>
        <ion-label floating>Fecha ultimo mantenimiento</ion-label>
        <ion-input formControlName="fechaUltimoMantenimiento" type="date"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Observaciones ultimo mantenimiento</ion-label>
        <ion-input formControlName="observacionesUltimoMantenimiento" type="textarea"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Fecha ultima pintura:</ion-label>
        <ion-input formControlName="fechaUltimaPintura" type="date"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Observaciones ultima pintura</ion-label>
        <ion-input formControlName="observacionesUltimaPintura" type="textarea"></ion-input>
      </ion-item>
    </form>

    <h2>Estructuras metálicas y sistema de protección</h2>

    <ion-list >
      <ion-list-header>
        Seleccione el sistema de protección existente:
      </ion-list-header>
      <div  *ngFor="let p of sistemaProteccionLista">
        <ion-item>
          <ion-label >{{p.title}}</ion-label>
          <ion-checkbox [(ngModel)]=p.selected></ion-checkbox>
        </ion-item>
      </div>
      <ion-item>
        <ion-label>Otro</ion-label>
        <ion-checkbox [(ngModel)]=otroProteccionSelected ></ion-checkbox>
      </ion-item>
      <ion-item ><ion-input class="no-background" [(ngModel)]="otroProteccion"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list  >
      <ion-list-header>
        Elementos metálicos con sistema de protección:
      </ion-list-header>

      <div  *ngFor="let p of sistemaProteccionMetalicosLista">
        <ion-item>
          <ion-label>{{p.title}}</ion-label>
          <ion-checkbox [(ngModel)]=p.selected></ion-checkbox>
        </ion-item>
      </div>
      <ion-item>
        <ion-label>Otro</ion-label>
        <ion-checkbox [(ngModel)]=otroProteccionMetalicoSelected ></ion-checkbox>
      </ion-item>
      <ion-item ><ion-input class="no-background" [(ngModel)]="otroProteccionMetalico"></ion-input>
      </ion-item>
    </ion-list>

    <h2>Ampollamiento</h2>

    <ion-list>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>QS</ion-col>
            <ion-col>C</ion-col>
            <ion-col>Zona</ion-col>
            <ion-col> % Area</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item-sliding *ngFor="let note of ampollamiento">
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>{{note.QS}}</ion-col>
              <ion-col>{{note.C}}</ion-col>
              <ion-col>{{note.Zona}}</ion-col>
              <ion-col>{{note.PorcentajeArea}}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item-options>
          <button ion-button icon-only (click)="editAmpollamiento(ampollamiento,note)" color="light">
            <ion-icon name="paper"></ion-icon>
          </button>
          <button ion-button icon-only (click)="deleteNote(ampollamiento,note)" color="danger">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
      <ion-buttons end>
        <button ion-button icon-only (click)="openAddModal(ampollamiento)"><ion-icon name="add"></ion-icon></button>
      </ion-buttons>
    </ion-list>

    <h2>Oxidaxion</h2>

    <ion-list>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>Grado Oxidaxion</ion-col>
            <ion-col>Zona</ion-col>
            <ion-col> % Area</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item-sliding *ngFor="let note of oxidaxion">
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>{{note.GradoOxidacion}}</ion-col>
              <ion-col>{{note.Zona}}</ion-col>
              <ion-col>{{note.PorcentajeArea}}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item-options>
          <button ion-button icon-only (click)="editOxidacion(oxidaxion,note)" color="light">
            <ion-icon name="paper"></ion-icon>
          </button>
          <button ion-button icon-only (click)="deleteNote(oxidaxion,note)" color="danger">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
      <ion-buttons end>
        <button ion-button icon-only (click)="openAddModal(oxidaxion)"><ion-icon name="add"></ion-icon></button>
      </ion-buttons>
    </ion-list>

    <h2>Agrietamiento</h2>

    <ion-list>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>Agrietamiento</ion-col>
            <ion-col>C</ion-col>
            <ion-col>Zona</ion-col>
            <ion-col> % Area</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item-sliding *ngFor="let note of agrietamiento">
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>{{note.Agrietamiento}}</ion-col>
              <ion-col>{{note.C}}</ion-col>
              <ion-col>{{note.Zona}}</ion-col>
              <ion-col>{{note.PorcentajeArea}}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item-options>
          <button ion-button icon-only (click)="editAgrietamiento(agrietamiento,note)" color="light">
            <ion-icon name="paper"></ion-icon>
          </button>
          <button ion-button icon-only (click)="deleteNote(agrietamiento,note)" color="danger">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
      <ion-buttons end>
        <button ion-button icon-only (click)="openAddModal(agrietamiento)"><ion-icon name="add"></ion-icon></button>
      </ion-buttons>`
    </ion-list>


    <h2>Descamación</h2>

    <ion-list>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>Descamacion</ion-col>
            <ion-col>C</ion-col>
            <ion-col>Zona</ion-col>
            <ion-col> % Area</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item-sliding *ngFor="let note of descamacion">
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>{{note.Descamacion}}</ion-col>
              <ion-col>{{note.C}}</ion-col>
              <ion-col>{{note.Zona}}</ion-col>
              <ion-col>{{note.PorcentajeArea}}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item-options>
          <button ion-button icon-only (click)="editDescamacion(descamacion,note)" color="light">
            <ion-icon name="paper"></ion-icon>
          </button>
          <button ion-button icon-only (click)="deleteNote(descamacion,note)" color="danger">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
      <ion-buttons end>
        <button ion-button icon-only (click)="openAddModal(descamacion)"><ion-icon name="add"></ion-icon></button>
      </ion-buttons>
    </ion-list>


    <button ion-button full color="primary" (click)="save()"> <div *ngIf="otroProteccionSelected">Create Account! {{otroProteccion}}</div>
    </button>


  </ion-list>


</ion-content>
