<ion-header >
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title > Instrucciones <ion-icon name="help-circle"></ion-icon>
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <p> Esta aplicación recopila toda la información necesaria para evaluar el recubrimiento de la estructura metálica de un puente.<br>

    Las inspecciones se dividen en dos tipos:<br>

    Inpección de diagnóstico: para puentes que están en uso y requieren mantenimiento preventivo o correctivo<br>
    Inspección de control de calidad: para aquellas estructuras que están siendo intervenidas con la aplicación de un sistema de protección<br>
<br>
    Para completar cualquiera de los formularios, solo se requiere tener la información veraz y concisa, seguir las indicaciones de cada apartado<br>
<br>
    Los resultados serán organizados por puente y podrán descargse cuando sea necesario. Esto en formato PDF
  </p>


</ion-content>
