<ion-header >
  <ion-navbar color="primary" >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <button ion-button end (click)="closeModal()"> <ion-icon name="close"></ion-icon></button>
    <ion-title > Ampollamiento <ion-icon name="help-circle"></ion-icon>
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list >
    <ion-list-header>
      Seleccione el sistema de protección existente:
    </ion-list-header>
    <div  *ngFor="let p of sistemaProteccionLista">
      <ion-item>
        <ion-label >{{p.title}}</ion-label>
        <ion-checkbox [(ngModel)]=p.selected></ion-checkbox>
      </ion-item>
    </div>
    <ion-item>
      <ion-label>Otro</ion-label>
      <ion-checkbox [(ngModel)]=otroProteccionSelected ></ion-checkbox>
    </ion-item>
    <ion-item ><ion-input class="no-background" [(ngModel)]="otroProteccion"></ion-input>
    </ion-item>
  </ion-list>


</ion-content>
