
page-home {
  $colors: (
    primary:     #387ef5,
    secondary:   #387ef5,
    danger:      #f53d3d,
    light:       #f4f4f4,
    dark:        #222,
    favorite:    #69BB7B,
    navbarColor: #009688
  );
}

