<ion-header >
  <ion-navbar color="primary">
    <button  ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>PROGRAMA PAR EVALUACIÓN DE RECUBRIMIENTO DE ESTRUCTURAS METÁLICAS DE PUENTES</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3></h3>


  <button ion-button  (click)="openModal()" >Menu</button>
</ion-content>
