
<ion-content color="primary" padding>
  <ion-list no-lines>
  <h2>INSPECCION DE EQUIPOS	</h2>
    <form [formGroup]="inspeccionEquipos">
          <ion-item text-wrap>
            <ion-label floating>Los equipos a utilizar se encuentran calibrados, certificados y se encuentran en buen funcionamiento</ion-label>
            <ion-select formControlName="calibradosCertificados">
            <ion-option value="Si" checked="true">Si</ion-option>
            <ion-option value="No">No</ion-option>
            <ion-option value="NA">N/A</ion-option>
           </ion-select>
          </ion-item>
          <ion-item text-wrap>
            <ion-label floating>Los equipos de aire comprimido funcionan adecuadamente</ion-label>
            <ion-select formControlName="aireComprimido">
              <ion-option value="Si" checked="true">Si</ion-option>
              <ion-option value="No">No</ion-option>
              <ion-option value="NA">N/A</ion-option>
            </ion-select>
          </ion-item>
          <ion-item text-wrap>
            <ion-label floating>La boquilla del equipo es la indicada, su diámetro y estado</ion-label>
            <ion-select formControlName="boquillaIndicada">
              <ion-option value="Si" checked="true">Si</ion-option>
              <ion-option value="No">No</ion-option>
              <ion-option value="NA">N/A</ion-option>
            </ion-select>
          </ion-item>
          <ion-item text-wrap>
            <ion-label floating>La presión del aire comprimido es la correcta</ion-label>
            <ion-select formControlName="presionAire">
              <ion-option value="Si" checked="true">Si</ion-option>
              <ion-option value="No">No</ion-option>
              <ion-option value="NA">N/A</ion-option>
            </ion-select>
          </ion-item>
          <ion-item text-wrap>
            <ion-label floating>El personal cuenta con el EPP completo y acorde a la actividad a realizar</ion-label>
            <ion-select formControlName="EPPCompleto">
              <ion-option value="Si" checked="true">Si</ion-option>
              <ion-option value="No">No</ion-option>
              <ion-option value="NA">N/A</ion-option>
            </ion-select>
          </ion-item>
          <ion-item text-wrap>
            <ion-label floating>Las herramientas manuales están en buen estado para su utilización</ion-label>
            <ion-select formControlName="heramientasManuales">
              <ion-option value="Si" checked="true">Si</ion-option>
              <ion-option value="No">No</ion-option>
              <ion-option value="NA">N/A</ion-option>
            </ion-select>
          </ion-item>
          <ion-item text-wrap>
            <ion-label floating>Las herramientas eléctricas están en buen estado para su utilización</ion-label>
            <ion-select formControlName="herramientasElectricas">
              <ion-option value="Si" checked="true">Si</ion-option>
              <ion-option value="No">No</ion-option>
              <ion-option value="NA">N/A</ion-option>
            </ion-select>
          </ion-item>

        </form>
 <h2>CONDICIONES AMBIENTALES	</h2>
    <form [formGroup]="condicionesAmbientales">
      <ion-item text-wrap>
        <ion-label floating>La temperatura del sustrato es aceptable</ion-label>
        <ion-select formControlName="temperatura">
          <ion-option value="Si" checked="true">Si</ion-option>
          <ion-option value="No">No</ion-option>
          <ion-option value="NA">N/A</ion-option>
        </ion-select>
      </ion-item>
      <ion-item text-wrap>
        <ion-label floating>La humedad relativa es aceptable</ion-label>
        <ion-select formControlName="humedad">
          <ion-option value="Si" checked="true">Si</ion-option>
          <ion-option value="No">No</ion-option>
          <ion-option value="NA">N/A</ion-option>
        </ion-select>
      </ion-item>
      <ion-item text-wrap>
        <ion-label floating>El punto de rocío es aceptable</ion-label>
        <ion-select formControlName="puntoRocio">
          <ion-option value="Si" checked="true">Si</ion-option>
          <ion-option value="No">No</ion-option>
          <ion-option value="NA">N/A</ion-option>
        </ion-select>
      </ion-item>
    </form>
<h2>PREPARACIÓN DE SUPERFICIE	</h2>
    <form [formGroup]="preparacionSuperficie">
      <ion-item text-wrap>
        <ion-label floating>La superficie se encuentra libre de polvo, grasa u otro tipo de agentes que impidan una buena adherencia de la pintura</ion-label>
        <ion-select formControlName="superficieLibre">
          <ion-option value="Si" checked="true">Si</ion-option>
          <ion-option value="No">No</ion-option>
          <ion-option value="NA">N/A</ion-option>
        </ion-select>
      </ion-item>
      <ion-item text-wrap>
        <ion-label floating>Las imperfecciones del sustrato no afectan la adherencia de la pinturae</ion-label>
        <ion-select formControlName="imperfecciones">
          <ion-option value="Si" checked="true">Si</ion-option>
          <ion-option value="No">No</ion-option>
          <ion-option value="NA">N/A</ion-option>
        </ion-select>
      </ion-item>
      <ion-item text-wrap>
        <ion-label floating>Se realiza una limpieza según la especificación técnica</ion-label>
        <ion-select formControlName="limpieza">
          <ion-option value="Si" checked="true">Si</ion-option>
          <ion-option value="No">No</ion-option>
          <ion-option value="NA">N/A</ion-option>
        </ion-select>
      </ion-item>
      <ion-item text-wrap>
        <ion-label floating>Las condiciones ambientales cumplen según los valores mínimos de aceptación</ion-label>
        <ion-select formControlName="condicionesAmbientales">
          <ion-option value="Si" checked="true">Si</ion-option>
          <ion-option value="No">No</ion-option>
          <ion-option value="NA">N/A</ion-option>
        </ion-select>
      </ion-item>
    </form>
<h2>ALMACENAMIENTO Y PREPARACIÓN DE PINTURA	</h2>
    <form [formGroup]="almacenamientoPintura">
      <ion-item text-wrap>
        <ion-label floating>La pintura es almacenada de manera adecuada, en contenedores resistentes y sin peligro de contaminarse</ion-label>
        <ion-select formControlName="almacenadoAdecuadamente">
          <ion-option value="Si" checked="true">Si</ion-option>
          <ion-option value="No">No</ion-option>
          <ion-option value="NA">N/A</ion-option>
        </ion-select>
      </ion-item>
      <ion-item text-wrap>
        <ion-label floating>La pintura está debidamente etiquetada, como mínimo: marca, tipo, peso neto, volumen, % de sólidos, % de compuestos orgánicos volátiles, fabricante</ion-label>
        <ion-select formControlName="etiquetadoCorrectamente">
          <ion-option value="Si" checked="true">Si</ion-option>
          <ion-option value="No">No</ion-option>
          <ion-option value="NA">N/A</ion-option>
        </ion-select>
      </ion-item>
      <ion-item text-wrap>
        <ion-label floating>Se cuenta con la ficha técnica correspondiente a cada pintura</ion-label>
        <ion-select formControlName="fichaTecnica">
          <ion-option value="Si" checked="true">Si</ion-option>
          <ion-option value="No">No</ion-option>
          <ion-option value="NA">N/A</ion-option>
        </ion-select>
      </ion-item>
      <ion-item text-wrap>
        <ion-label floating>La preparación de la pintura se realiza de acuerdo a las especificaciones del fabricante</ion-label>
        <ion-select formControlName="condicionesAmbientales">
          <ion-option value="Si" checked="true">Si</ion-option>
          <ion-option value="No">No</ion-option>
          <ion-option value="NA">N/A</ion-option>
        </ion-select>
      </ion-item>
    </form>
<h2>APLICACIÓN DE LA PINTURA</h2>
    <form [formGroup]="aplicacionPintura">
      <ion-item text-wrap>
        <ion-label floating>Se aplica la pintura según las especificaciones del fabricante</ion-label>
        <ion-select formControlName="aplicacionCondFabricante">
          <ion-option value="Si" checked="true">Si</ion-option>
          <ion-option value="No">No</ion-option>
          <ion-option value="NA">N/A</ion-option>
        </ion-select>
      </ion-item>
      <ion-item text-wrap>
        <ion-label floating>Se aplica la pintura acorde a las condiciones ambientales requeridas</ion-label>
        <ion-select formControlName="aplicacionCondAmbientales">
          <ion-option value="Si" checked="true">Si</ion-option>
          <ion-option value="No">No</ion-option>
          <ion-option value="NA">N/A</ion-option>
        </ion-select>
      </ion-item>
      <ion-item text-wrap>
        <ion-label floating>Se evita propagación de polvo o suciedad que pueda contaminar las capas de recubrimiento</ion-label>
        <ion-select formControlName="propagacion">
          <ion-option value="Si" checked="true">Si</ion-option>
          <ion-option value="No">No</ion-option>
          <ion-option value="NA">N/A</ion-option>
        </ion-select>
      </ion-item>
      <ion-item text-wrap>
        <ion-label floating>Se observan defectos no aceptables en el acabado de pintura</ion-label>
        <ion-select formControlName="defectos">
          <ion-option value="Si" checked="true">Si</ion-option>
          <ion-option value="No">No</ion-option>
          <ion-option value="NA">N/A</ion-option>
        </ion-select>
      </ion-item>
    </form>
<h2>MEDICION DE ESPESORES  Y CURADO DE PINTURA</h2>
    <form [formGroup]="medicionesPintura">
      <ion-item text-wrap>
        <ion-label floating>Se realizan las mediciones de espesores de película húmeda</ion-label>
        <ion-select formControlName="espesoresPelHumeda">
          <ion-option value="Si" checked="true">Si</ion-option>
          <ion-option value="No">No</ion-option>
          <ion-option value="NA">N/A</ion-option>
        </ion-select>
      </ion-item>
      <ion-item text-wrap>
        <ion-label floating>Los espesores cumplen para cada capa de pintura (película seca)</ion-label>
        <ion-select formControlName="espesoresPinturas">
          <ion-option value="Si" checked="true">Si</ion-option>
          <ion-option value="No">No</ion-option>
          <ion-option value="NA">N/A</ion-option>
        </ion-select>
      </ion-item>
      <ion-item text-wrap>
        <ion-label floating>El proceso de curado se realiza según la especificación del fabricante</ion-label>
        <ion-select formControlName="curado">
          <ion-option value="Si" checked="true">Si</ion-option>
          <ion-option value="No">No</ion-option>
          <ion-option value="NA">N/A</ion-option>
        </ion-select>
      </ion-item>
    </form>
<h2>ADHERENCIA DEL RECUBRIMIENTO</h2>
    <form [formGroup]="adherenciaRecubrimiento">
      <ion-item text-wrap>
        <ion-label floating>La prueba de adherencia es favorable</ion-label>
        <ion-select formControlName="pruebaFavorable">
          <ion-option value="Si" checked="true">Si</ion-option>
          <ion-option value="No">No</ion-option>
          <ion-option value="NA">N/A</ion-option>
        </ion-select>
      </ion-item>
    </form>
    <!--<h3>{{inspeccionEquipos.value.nombrePuente}}</h3>-->
    <button ion-button full (click)="testPdf()">TEST PDF</button>
  </ion-list>
</ion-content>
