<ion-header >
  <ion-navbar color="primary" >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title > Acerca <ion-icon name="help-circle"></ion-icon>
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Este programa fue diseñado para facilitar la recolección de datos de la inspección del recubrimiento de puentes <br>

    Es amigable con el usuario: permite guardar la información y generar reportes de inmediato<br>

    Este proyecto es parte de un trabajo de graduación, pero puede llegar a ser una herramienta util para entidades públicas y privadas que deseen optimizar los trabajos de inspección, específicamente de recubrimientos anticorrosivos
  <br>

    </h3>


</ion-content>
