<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title > Inspeccion <ion-icon name="clipboard"></ion-icon>
    </ion-title>

  </ion-navbar>
</ion-header>


<ion-content padding>
<ion-tabs>
  <ion-tab (ionSelect)="presentConfirm()" [root]="tab1Root" tabTitle="Puente en Uso" tabIcon="search"></ion-tab>
  <ion-tab (ionSelect)="presentConfirm()" [root]="tab2Root" tabTitle="Control de Calidad" tabIcon="checkbox" ></ion-tab>
</ion-tabs>
</ion-content>


